#requirements.txt
git+https://github.com/googleapis/google-auth-library-python-httplib2#egg=googleapis/google-auth-library-python-httplib2

git+https://github.com/googleapis/google-auth-library-python-httplib2
altair==4.2.0
attrs==22.1.0
blinker==1.5